body {
  background: url("flixia-img3.jpg") top center;
  color: white;
}
.wrapper {
  padding: 5% 30% 5%;
}

.flixia-logo {
  width: 100px;
  margin: 0;
  padding-bottom: 2%;
}

.form-group {
  margin: 3%;
  text-align: left;
}
.form-inner {
  padding: 5% 0 0 0;
  background-color: rgba(255, 255, 255, 0.13);
  color: #ffff;
}

.btn {
  margin: 5% 5% 2%;
  background-color: #f5b048;
  border: 0;
  color: #f7f7f7;
}

.btn:hover {
  background-color: #000214;
  border: 0;
}

.form-inner {
  text-align: center;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin: 20px 10px;
}

.social-links a:hover {
  background-color: #f5b048;
}

body {
  background: url("flixia-img3.jpg") top center;
  color: white;
}
.wrapper {
  padding: 2% 30% 10%;
}

.form-group {
  margin: 3%;
}
.form-inner {
  background-color: rgba(163, 136, 13, 0.404);
  color: #ffff;
}

.btn {
  margin: 5% 5% 2%;
  background-color: #f5b048;
  border: 0;
  color: #f7f7f7;
}

.btn:hover {
  background-color: #3a2402;
  border: 0;
}

.form-inner {
  text-align: center;
}

.social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin: 20px 10px;
}

.social-links a:hover {
  background-color: #f5b048;
}

@media (max-width: 1036px) {
  .wrapper {
    padding: 5% 7% 10%;
  }
}
